.animeeditor {
    width: 100%;
    max-width: 600px;
    background-color: var(--light-grey);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 40px auto;
}

.animeeditor h1 {
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 20px 0;
    border-bottom: 1px solid #dee0e4;
    font-weight: bold;
    margin-bottom: 20px;
}

.animeeditor form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.animeeditor form label {
    width: 100%;
    color: #ffffff;
}

.animeeditor form input[type="date"],
.animeeditor form input[type="text"],
.animeeditor form input[type="number"],
.animeeditor form select,
.animeeditor form textarea {
    width: 100%;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.animeeditor form textarea {
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 15px;
    resize: none;
}

.animeeditor form input {
    width: 100%;
}

.animeeditor form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: var(--primary);
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.animeeditor form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}

@media (min-width: 768px) {
    .animeeditor {
        width: 600px;
    }

    .animeeditor form label {
        width: 120px;
    }

    .animeeditor form input[type="date"],
    .animeeditor form input[type="text"],
    .animeeditor form input[type="number"],
    .animeeditor form select {
        width: 310px;
    }
    .animeeditor form input {
        width: 310px;
    }

    .animeeditor form input[type="submit"] {
        width: 100%;
    }
}
